body {
    background: url(img/background.png);
    color: white;
}

.form-control, .form-horizontal .checkbox{
    margin-bottom: 15px;
}

.panel-body {
    color: black;
}

.navbar-default {
    background: transparent;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #CECECE;
}

.table-bordered > tbody > tr:nth-child(odd) > th, .table-bordered > tbody > tr:nth-child(odd) > td {

    color: black;
}

.dropdown-parent:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.caretright {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.list-group{
    background: transparent;
    padding:0;
    margin:0;
}

.list-group-item{
    background: transparent;
}

.list-group-item:last-child{
    background: transparent;
    padding:5px;
    margin:0;
}

.table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
    border-color: #fff;
}

.footer {
    margin-top: 25px;
    height: 60px;
    border-color: black;
}

@media (min-width: 768px) {
    .navbar-default {
        border-color: white;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
